* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.todo-app {
  min-width: 400px;
  width: 35%;
  margin: 80px auto;
  text-align: center;
  padding: 40px 50px;
  background-color: aquamarine;
  border-radius: 10px;
}

.form-title h1 {
  margin-bottom: 15px;
}

.todo-input-container {
  margin-bottom: 20px;
}

.todo-input {
  height: 40px;
  width: 70%;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  /* text-indent: 5px; */
  text-align: center;
  outline: none;
  transition: all ease 0.3s;
}

.todo-input:focus {
  border: 3px solid lightseagreen;
}

.todo-btn {
  height: 40px;
  width: 30%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: #737bf0;
  padding: 5px;
  color: whitesmoke;
  font-weight: 700;
}

.lists {
  max-height: 300px;
  overflow-y: scroll;
}

/* cacher scrollbar */
.lists::-webkit-scrollbar {
  display: none;
}

.todo-item {
  display: flex;
  justify-content: flex-start;
  text-align: center;
  margin-bottom: 10px;
  height: 35px;
  border-radius: 10px;
}

.todo-item:nth-child(4n + 1) {
  background-color: cadetblue;
}
.todo-item:nth-child(4n + 2) {
  background-color: pink;
}
.todo-item:nth-child(4n + 3) {
  background-color: lightcoral;
}
.todo-item:nth-child(4n + 4) {
  background-color: lightslategray;
}

.todo-val {
  flex: 70%;
  line-height: 35px;
}

.todo-operation {
  flex: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icons {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
